ul
  li
    a(href="/") Início
  li
    a(href="/users") Usuários
  li
    a(href="/projects/index")  Projetos
  li
    a(href="/projects/create") Cadastrar Projeto
  li
    a(href="/logout") #{session.name} [Sair]
